In [1]:
import pandas as pd
data = pd.read_csv("./lsd-math-score-data.csv")
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [2]:
data.describe()

       Time_Delay_in_Minutes   LSD_ppm  Avg_Math_Test_Score
count               7.000000  7.000000             7.000000
mean              135.714286  4.332857            50.087143
std               172.347241  1.935413            18.610854
min                 5.000000  1.170000            29.970000
25%                22.500000  3.115000            35.195000
50%                60.000000  4.690000            45.650000
75%               180.000000  5.915000            62.835000
max               480.000000  6.410000            78.930000

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data['LSD_ppm']

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [5]:
data['Time_Delay_in_Minutes']

0      5
1     15
2     30
3     60
4    120
5    240
6    480
Name: Time_Delay_in_Minutes, dtype: int64

In [7]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [ ]:
data['Test_subject'] = "BTS"

In [ ]:
data

In [ ]:
data["High_score"] = 100

In [ ]:
data

In [ ]:
data["High_score"] = data["High_score"] + data["Avg_Math_Test_Score"]

In [ ]:
data

In [ ]:
data["High_score"] = data["Avg_Math_Test_Score"] ** data["Avg_Math_Test_Score"]

In [ ]:
data

In [ ]:
high = data['High_score']
type(high)

In [ ]:
print(high)

In [ ]:
data[["Test_subject", "High_score"]]

In [ ]:
data["Test_subject"]

In [ ]:
# Series is like an array but only has ONE DIMENSION and single column
# Dataframe is made from a collection of Series (Columns)
type(data["Test_subject"])

In [ ]:
data[["Test_subject"]]

In [ ]:
del data['Test_subject']
data

In [ ]:
import test

In [ ]:
test.hello

In [ ]:
from test import hello

In [ ]:
hello

In [ ]:
import test.mod1

In [ ]:
mod1.mod1

In [ ]:
def hello(world = 'World'):
    print("Hello {}".format(world))

In [ ]:
hello("Lucky")

In [ ]:
type(test)

In [ ]:
class Car:
    def __init__(self):
        print("A car is created.")
        self.car_plate_number = "PFW 2030"
        self.num_of_tyres = 4
        
        
    def getCarPlateNumber(self):
        print(self.car_plate_number)
    
    def setCarPlateNumber(self, number):
        self.car_plate_number = number;

In [ ]:
Car()

In [ ]:
car = Car()
car.getCarPlateNumber()
car.setCarPlateNumber("2030")
car.getCarPlateNumber()

In [12]:
def car(*national,**brands):
    print(national)
    print(brands)

In [13]:
car(False, honda="civic", proton="saga")

(False,)
{'honda': 'civic', 'proton': 'saga'}