In [1]:
import pandas as pd

data = pd.read_csv("./exam_score.csv")

In [2]:
import matplotlib.pyplot as plt

plt.scatter()

    exam_1_score   exam_2_score   accepted_by_university
0      34.623660      78.024693                        0
1      30.286711      43.894998                        0
2      35.847409      72.902198                        0
3      60.182599      86.308552                        1
4      79.032736      75.344376                        1
5      45.083277      56.316372                        0
6      61.106665      96.511426                        1
7      75.024746      46.554014                        1
8      76.098787      87.420570                        1
9      84.432820      43.533393                        1
10     95.861555      38.225278                        0
11     75.013658      30.603263                        0
12     82.307053      76.481963                        1
13     69.364589      97.718692                        1
14     39.538339      76.036811                        0
15     53.971052      89.207350                        1
16     69.070144      52.740470                        1
17     67.946855      46.678574                        0
18     70.661510      92.927138                        1
19     76.978784      47.575964                        1
20     67.372028      42.838438                        0
21     89.676776      65.799366                        1
22     50.534788      48.855812                        0
23     34.212061      44.209529                        0
24     77.924091      68.972360                        1
25     62.271014      69.954458                        1
26     80.190181      44.821629                        1
27     93.114389      38.800670                        0
28     61.830206      50.256108                        0
29     38.785804      64.995681                        0
..           ...            ...                      ...
70     32.722833      43.307173                        0
71     64.039320      78.031688                        1
72     72.346494      96.227593                        1
73     60.457886      73.094998                        1
74     58.840956      75.858448                        1
75     99.827858      72.369252                        1
76     47.264269      88.475865                        1
77     50.458160      75.809860                        1
78     60.455556      42.508409                        0
79     82.226662      42.719879                        0
80     88.913896      69.803789                        1
81     94.834507      45.694307                        1
82     67.319257      66.589353                        1
83     57.238706      59.514282                        1
84     80.366756      90.960148                        1
85     68.468522      85.594307                        1
86     42.075455      78.844786                        0
87     75.477702      90.424539                        1
88     78.635424      96.647427                        1
89     52.348004      60.769505                        0
90     94.094331      77.159105                        1
91     90.448551      87.508792                        1
92     55.482161      35.570703                        0
93     74.492692      84.845137                        1
94     89.845807      45.358284                        1
95     83.489163      48.380286                        1
96     42.261701      87.103851                        1
97     99.315009      68.775409                        1
98     55.340018      64.931938                        1
99     74.775893      89.529813                        1

[100 rows x 3 columns]